{% extends 'base.html' %}

{% block content %}
	<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
		<div class="content">
			<h1>Seja bem vindo ao Deno</h1>
			<p class="major">Meu website construido com a plataforma do Deno</p>

            <ul>
                {% for user in users %}
                    <li> {{ user.id }}. {{ user.name }}</li>
                {% endfor %}
            </ul>

            <h2>Adicionar novo</h2>
            <form method="POST">
                <input type="text" name="name" id="name"><br>
                <button type="submit">Save</button> 
            </form>
		</div>
		<div class="image">
			<img src="{{ STATIC_URL }}images/banner.jpg" alt="" />
		</div>
	</section>
{% endblock %}