<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Home page
    
    <img src="{{ STATIC_URL }}Wallpaper1.png" alt="">
    <br>
    <ul>
        {% for user in users %}
            {% if user.id == 1 %}
                <b><li>{{ user.id }}: {{ user.name }}</li></b>
            {% else %}
                <li>{{ user.id }}: {{ user.name }}</li>
            {% endif %}

        {% endfor %}
    </ul>
</body>
</html>